// NativeScript core theme
// @see https://docs.nativescript.org/ui/theme
@import '~@nativescript/theme/core';
@import '~@nativescript/theme/brown';

// Override variables here

// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling
@import './colors.scss';

.container {
  padding: 20px;
}

.small-textfield {
  max-width: 200px;
}

.light-bg {
  background-color: $yellow;
  color: black;
}

.blue-bg {
  background-color: $light-blue;
}

.green-bg {
  background-color: $light-green;
}

.light-green-bg {
  background-color: lighten($light-green, 20%);
}

.red-bg {
  background-color: $red;
  color: white;
}

.brown-bg {
  background-color: $brown;
}

.brown-text {
  color: $brown;
}
